*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #21026211;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    gap: 20px;
    padding: 20px;

}

.card{
    width: 200px;
    height: 300px;
    background:linear-gradient(#040ec583,#a700fa6e);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;

    border: 2px solid #000ba0;
    border-radius: 10px;
}

img{
    width: 150px;
    height: 150px;

    border: 2px solid #0009b2;
    border-radius: 50%;
    object-fit:cover;
}

h1{
     background:linear-gradient(#040ec5df,#a700fae6);
     border: 2px solid #0009b2;
     border-radius: 10px;
     padding: 3px 10px;
     margin: 5px;
     color:#ffffff;
}

h4{
     /* background:linear-gradient(#040ec5df,#a700fae6); */
     border: 2px solid #0009b2;
     border-radius: 10px;
     padding: 3px 10px;
     margin: 5px;
     color:#0009b2;
}

h5{
     /* background:linear-gradient(#040ec5df,#a700fae6); */
     border: 2px solid #0009b2;
     border-radius: 10px;
     padding: 3px 10px;
     margin: 5px;
     color:#0009b2;
}